*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0d0d0d;
    color:#fff;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* ================= NAVBAR ================= */

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(0,0,0,.75);
    backdrop-filter:blur(10px);
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}

.nav h2{
    font-size:2rem;
    font-weight:700;
}

.nav span{
    color:#39FF14;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#39FF14;
}

#menuBtn{
    display:none;
    font-size:1.7rem;
    cursor:pointer;
}

/* ================= HERO ================= */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 20px;
    background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:750px;
}

.hero h4{
    color:#39FF14;
    margin-bottom:15px;
    font-size:1.2rem;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero p{
    color:#ddd;
    line-height:1.8;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#39FF14;
    color:#111;
    text-decoration:none;
    border-radius:50px;
    font-weight:700;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
}

/* ================= MOBILE ================= */

@media(max-width:768px){

nav{
    position:absolute;
    top:80px;
    left:-100%;
    width:100%;
    background:#111;
    flex-direction:column;
    text-align:center;
    padding:30px 0;
    transition:.4s;
}

nav.active{
    left:0;
}

#menuBtn{
    display:block;
}

.hero h1{
    font-size:2.6rem;
}

.hero p{
    font-size:.95rem;
}

}
